*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 21.84px;
    margin: 0 165px;
}
.burger img{
    width: 40px;
    display:none;
}
.cart img{
        width: 40px;
        display:none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 9px;
}

.menu{
    display: flex;
    gap: 60px;
}
.headerRight{
    display: flex;
    gap:24px;
}

ul{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}
@media screen and (min-width:320px) and (max-width:1050px){
.burger img {
    display: flex;
}
.cart img{
        display: flex;
}
.nav{
    justify-content: space-between;
}
.menu {
    display: none;
}
.headerRight{
    display: none;
}

}
.Contaner{
    display: flex;
    flex-wrap: wrap;
    padding: 21.84px;
    gap: 30px;
    margin: 80px 165px;
    text-align: center;
}
.card{
width: calc( (100% - 90px ) / 4);
}
.card img{
width: 100%;
}

.card h2{
    margin: 24px;
}

@media screen and (min-width:320px) and (max-width:1050px){
.Contaner {
flex-direction: column;
align-items: center;
.card{
    width: 100%;
}
.card h2{
    font-size: 15px;
    margin: 12px;
}

}
}